.title{
    font-size: 50px;
    text-align: center;
}
.divA{
    padding-left: 10px;
}
.bp{
    padding-left: 15px;
}
 body{
    font-size: 110%;
 }

 li{
    font-size: 18px;
 }

 .GCSEs{
    font-style: italic;
 }
 .navbar{
    font-family: calibri; 
    padding-right: 15px;
    padding-left: 15px;
 }
 .navdiv{
	display: flex; 
    align-items: center; 
    justify-content: 
    space-between;
}

.navlink{
    list-style: none; 
    display: inline-block;
}

.header a{
    font-size: 35px; 
    font-weight: 600; 
    color: white;
}